{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div style="display:flex; height:100%;width:100%">
    <a href="{{ path ('app_login') }}" class="home-a">
        <button class="home-btn btn btn-success"> 
            <h1>Connexion Admin</h1>
        </button>
    </a>
    <a href="{{ path ('request') }}" class="home-a">
        <button  class="home-btn btn btn-info">
			<h1>Requête</h1>
        </button>
    </a>
</div>
{% endblock %}
